<div class="row article">
  <div class="col-md-2 col-sm-2">
    <%= image_tag(article.image_url(:thumb)) %>
  </div>
  <div class="meta col-md-10 col-sm-10">
    <h3><%= article.title %></h3>
    <p class="description">
      <%= article.body %>
    </p>
    <%= link_to "Read more...", article.url if article.url.present? %>
  </div>
</div>
