<footer class="background-midnight-blue color-white">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Quick links</h3>
        <ul class="nav-footer">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Staff Directory', about_staff_path %></li>
          <li><%= link_to 'About us', about_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>What parents are saying</h3>
        <p class="testimonial">Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum erat at ultricies rhoncus.</p>
        <p class="author">lkokosz</p>
        <p class="testimonial">Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum erat at ultricies rhoncus.</p>
        <p class="author">lkokosz</p>
      </div>
      <div class="col-md-5">
        <h3>Contact us</h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputName1" class="col-lg-3 control-label">Name</label>
            <div class="col-lg-9">
              <input type="text" class="form-control input-lg" id="inputName1" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9">
              <input type="email" class="form-control input-lg" id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputContent1" class="col-lg-3 control-label">Content</label>
            <div class="col-lg-9">
              <textarea id="inputContent1" class="form-control" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
              <button type="submit" class="btn btn-lead btn-lg">Send us an email</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <div class="row">
          <div class="col-md-6">
            All rights reserved &copy; 2014 EECS
          </div>
          <div class="col-md-6">
            <p class="social">
              <a href="https://www.facebook.com/pages/East-End-Community-School/114915611904389"><span class="fa fa-facebook"></span></a>
              <a href="http://www.youtube.com/results?search_query=%22east%20end%20community%20school%22&sm=3"><span class="fa fa-youtube"></span></a>
              <a href="http://www.pinterest.com/search/pins/?q=%22east%20end%20community%20school%22"><span class="fa fa-pinterest"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
