<div class="block text-left">
  <div class="thumbnail">
    <%= image_tag(event.image) %>
    <div class="meta">
      <h3><%= event.title %></h3>
      <h4><%= event.date_info %></h4>
      <p class="description">
        <%= event.description %>
      </p>
    </div>
  </div>
</div>
