<section>
  <div class="container">
    <div class="reduce-top-margin">
      <h1><span>Our Staff</span></h1>
      <div class="row">
        <% @staff_members.each do |member| %>
          <div class="col-xs-6 col-sm-4 col-md-2">
            <a href="" class="thumbnail gallery-thumbnail">
              <%= image_tag member.image_url(:square_sm), :class => 'img-circle' %>
            </a>
            <br>
            <p class="text-center">
              <small>
                <%= "#{member.full_name}, #{member.title}" %>
                <br />
                <%= member.bio %>
              </small>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
