<div class="responsive-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="-1" data-transitiontime="1000" data-autoplay="true">
  <div class="slides-container" data-group="slides">
    <ul>
      <li>
        <div class="slide-body" data-group="slide">
          <div class="container">
            <div class="wrapper">
              <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="0" data-length="300">
                <h2>EECS:</h2>
                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300"><span>Building academic excellence</span></p>
                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300"><span>through healthy relationships</span></p>
                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>and a child-centered approach.</span></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <div class="container">
            <div class="wrapper">
              <div class="caption header text-center" data-animate="slideAppearUpToDown" data-delay="0" data-length="300">
                <h2>The Next Generation of Leaders:</h2>
                <p class="sub" data-animate="slideAppearDownToUp" data-delay="300" data-length="300"><span>Preparing students for the digital age</span></p>
                <p class="sub" data-animate="slideAppearDownToUp" data-delay="500" data-length="300"><span>with a strong focus on math and literacy skills</span></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <div class="container">
            <div class="wrapper">
              <div class="caption header text-right" data-animate="slideAppearDownToUp" data-delay="0" data-length="300">
                <h2>Diversity: <span style="font-weight: 300"><span class="color-alizarin">c</span><span class="color-carrot">o</span><span class="color-sun-flower">l</span><span class="color-emerald">o</span><span class="color-peter-river">r</span></span></h2>
                <p class="sub" data-animate="slideAppearUpToDown" data-delay="300" data-length="300"><span>Building a diverse & vibrant community </span></p>
                <p class="sub" data-animate="slideAppearUpToDown" data-delay="500" data-length="300"><span>through compassionate education.</span></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <a class="slider-control left hidden-xs hidden-sm" href="#" data-jump="prev"><i class="fa fa-angle-left"></i></a>
  <a class="slider-control right hidden-xs hidden-sm" href="#" data-jump="next"><i class="fa fa-angle-right"></i></a>
  <div class="pages-wrapper background-black">
    <ol class="pages">
      <li><a data-jump-to="1">1</a></li>
      <li><a data-jump-to="2">2</a></li>
      <li><a data-jump-to="3">3</a></li>
    </ol>
  </div>
</div>

<!-- Responsive slider - END -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.responsive-calendar').responsiveCalendar({
      time: '2013-05',
      events: {
        "2013-05-30": {"number": 5, "badgeClass": "background-turquoise", "url": "http://w3widgets.com/responsive-slider"},
        "2013-05-26": {"number": 1, "badgeClass": "background-turquoise", "url": "http://w3widgets.com"}, 
        "2013-05-03": {"number": 1, "badgeClass": "background-pomegranate"}, 
        "2013-05-12": {}}
    });

    $('#mixit').mixitup();
  });

  $(window).load(function(){
    if ($(window).width() > 767) {
      matchHeight($('.info-thumbnail .caption .description'), 3);
    }

    $(window).on('resize', function(){
      if ($(window).width() > 767) {
        $('.info-thumbnail .caption .description').height('auto');
        matchHeight($('.info-thumbnail .caption .description'), 3);
      }
    });
  });
</script>


<!-- Info thumbnails - START -->
<section class="background-white color-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <a class="info-thumbnail-link" href="/">
          <div class="thumbnail info-thumbnail">
            <div class="caption">
              <h3><span class="fa fa-flag color-lead"></span> Font awesome</h3>
              <p class="description">NEAT template supports as much modern technologies and trends as possible. One of them is font awesome icons. This great set of fonts is available anywhere you want on your page. Some of NEAT ui elements are also using font awesome like this info thumbnails.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4 col-md-4">
        <a class="info-thumbnail-link" href="/">
        <div class="thumbnail info-thumbnail">
          <div class="caption">
            <h3><span class="fa fa-group color-lead"></span> Color classes</h3>
            <p class="description">You can use template elements as you have them in the examples but if you feel creative you can compose our own color combinations in ui elements. You have beautiful set of flat ui colors to work with just use <i>color-{color-name}</i> or <i>background-{color-name}</i> to change text color or background of any element on the page.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-sm-4 col-md-4">
        <a class="info-thumbnail-link" href="/">
          <div class="thumbnail info-thumbnail">
            <div class="caption">
              <h3><span class="fa fa-gavel color-lead"></span> Some more info</h3>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum erat at ultricies rhoncus.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Info thumbnails - END -->


<!-- News - START -->
<section class="background-white color-black">
  <div class="container">
    <h1><span>Upcoming Events</span></h1>
    <div class="news">
      <a class="news-link" href="http://www.portlandchildrensfilmfestival.com/">
        <div class="media clearfix background-clouds color-black">
          <div class="pull-left">
            <img class="media-object" src="/themes/neat/img/img2.jpg" alt="...">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Portland Children's Film Festival</h3>
            <p class="media-date">April 2-6, 2014 at venues throughout Portland, Maine. </p>
            <p>The PCFF is an idea born from the minds and hearts of East End Community school parents and teachers who believe in the value of using film to build community. The festival is intended to connect Maine children and their families with people in their own cultures and communities, as well as expand the worldviews of all attendees. Visit the Portland Children's Film Festival website for more information on the shows, dates, and venues. </p>
          </div>
        </div>
      </a>
      <a class="news-link" href="">
        <div class="media clearfix background-clouds color-black">
          <div class="pull-left">
            <img class="media-object" src="/themes/neat/img/img3.jpg" alt="...">
          </div>
          <div class="media-body">
            <h3 class="media-heading">News heading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- News - FINISH -->

<!-- Info thumbnails - START -->
<section class="">
  <div class="container">
    <h1 class="text-center x-large">Information thumbnails</h1>
    <p class="lead text-center">Information thumbnails are the workhorse of entire template. You can use them to display any type of content and there are many ways for you to play with them: you can change the colours, add and remove elements and change their order, add icons...</p>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="info-thumbnail-link">
        <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
          <img src="/themes/neat/img/img1.jpg" alt="...">
          <div class="icon">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x color-lead"></i>
              <i class="fa fa-flag fa-stack-1x color-white"></i>
            </span>
          </div>
          <div class="caption bordered background-white">
            <h3>Font awesome</h3>
            <p class="description">NEAT template supports as much modern technologies and trends as possible. One of them is font awesome icons. This great set of fonts is available anywhere you want on your page. Some of NEAT ui elements are also using font awesome like this info thumbnails.</p>
            <p class="buttons"><a href="#" class="btn btn-lead">Read more</a></p>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="info-thumbnail-link">
        <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
          <img src="/themes/neat/img/img2.jpg" alt="...">
          <div class="icon">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x color-lead"></i>
              <i class="fa fa-inbox fa-stack-1x color-white"></i>
            </span>
          </div>
          <div class="caption bordered background-white">
            <h3>Color classes</h3>
            <p class="description">You can use template elements as you have them in the examples but if you feel creative you can compose our own color combinations in ui elements. You have beautiful set of flat ui colors to work with just use <i>color-{color-name}</i> or <i>background-{color-name}</i> to change text color or background of any element on the page.</p>
            <p class="buttons"><a href="#" class="btn btn-lead">Read more</a></p>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="info-thumbnail-link">
        <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
          <img src="/themes/neat/img/img3.jpg" alt="...">
          <div class="icon">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x color-alizarin"></i>
              <i class="fa fa-eye fa-stack-1x color-white"></i>
            </span>
          </div>
          <div class="caption bordered background-white">
            <h3>Some title</h3>
            <p class="description color-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum erat at ultricies rhoncus.</p>
            <p class="buttons"><a href="#" class="btn btn-lead">Read more</a></p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- Info thumbnails - END -->
