<div class='home'>
  <div class="responsive-slider-parallax">
    <div class="slides-container" data-group="slides">
      <ul>
        <li>
          <div class="slide-body" data-group="slide">
            <div class="container">
              <div class="wrapper">
                <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="0" data-length="300">
                  <h2>EECS</h2>
                  <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300"><span>Building academic excellence</span></p>
                  <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>through a child-centered approach.</span></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Events - START -->
  <% if @events.present? %>
  <section>
    <div class="container">
      <h1 class="text-center x-large">Announcements</h1>
        <div class="col-md-10 col-md-offset-1 events">
          <%= render @events %>
        </div>
    </div>
  </section>
  <% end %>
  <!-- Events - FINISH -->

  <!-- Info thumbnails - START -->
  <section class="">
    <div class="container">
      <h1 class="text-center x-large">Rigor, Relevance & Relationships</h1>
      <p class="lead text-center">At EECS we are focused on helping our students develop the appropriate academic, interpersonal, and creative problem-solving skills they need to thrive in a growing, changing world. We utilize the Rigor/Relevance framework to ensure children are continually challenged and supported in their learning.</p>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="info-thumbnail-link">
          <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
            <%= image_tag("solar-system.jpg") %>
            <div class="icon">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x color-lead"></i>
                <i class="fa fa-compass fa-stack-1x color-white"></i>
              </span>
            </div>
            <div class="caption bordered background-white">
              <h3>STEM</h3>
              <p class="description">Math and Science literacy and excellence is one of our primary initiatives at EECS. EECS students learn math, science and technology core concepts through inquiry-based learning, where many of the concepts explored are driven by student curiosity. We use a problem-based instruction approach, with small-group interaction and visual learning, ensuring each student has a variety of ways to engage, learn, and thrive. </p>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="info-thumbnail-link">
          <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
            <%= image_tag("rise.png") %>
            <div class="icon">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x color-lead"></i>
                <i class="fa fa-star fa-stack-1x color-white"></i>
              </span>
            </div>
            <div class="caption bordered background-white">
              <h3>Rise & Shine</h3>
              <p class="description">Our Rise and Shine program helps students kick start their day with a lineup of enriching programs designed to get their minds working and their bodies moving. Students take control of their learning by selecting from programs like Zumba, puppetry, computer programming, glee, video animation, knitting, math club, and hundreds more.</p>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="info-thumbnail-link">
          <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
            <%= image_tag("Literacy.png") %>
            <div class="icon">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x color-alizarin"></i>
                <i class="fa fa-eye fa-stack-1x color-white"></i>
              </span>
            </div>
            <div class="caption bordered background-white">
              <h3>Literacy</h3>
              <p class="description">Our comprehensive literacy program helps students attain academic excellence in all areas of literacy including speaking, listening, reading and writing.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
