.responsive-slider-parallax .slides-container ul li .slide-body .caption.header {
  top: 5%;
}

.navbar-brand {
  font-size: 14px;
}

.thumbnail {
  border: none;
}

.nav-footer {
  margin-bottom: 20px;
}

.responsive-slider-parallax .slides-container {
  background-image: url(asset-path("eecs-parallax.png"));
}
